<div class="container">
    <h1 class="example">Person Information</h1>
    <form [formGroup]="personForm">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill" style="width:100%; margin-top: 60px;">
                <mat-label>Firstname</mat-label>
                <input matInput type="text" formControlName="FirstName">
                <mat-error> Firstname is required</mat-error>
              </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="eample-full width" appearance="fill" style="width: 100%; margin-top: 60px;">
            <mat-label> MiddleName</mat-label>
            <input matInput type="text" formControlName="Middlename">  
            
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="eample-full width" appearance="fill" style="width: 100%; margin-top: 60px;">
            <mat-label> LastName</mat-label>
            <input matInput type="text" formControlName="LastName">
            <mat-error> LastName is required</mat-error>  
            
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="eample-full width" appearance="fill" style="width: 100%; margin-top: 60px;">
               <mat-label>Department</mat-label> 
               <mat-select id="dep" formControlName="Department">
                <mat-error>Department is required</mat-error>
                <mat-option value="IT">IT</mat-option>
                <mat-option value="HR">HR</mat-option>
                <mat-option value="Payroll">Payroll</mat-option>
                <mat-option value="Networking">Networking</mat-option>
                <mat-option value="Admin">Admin</mat-option>
               </mat-select>
                </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill" style="width:100%; margin-top: 60px;">
                <mat-label>Gender</mat-label>
                <mat-error>Gender is required</mat-error>
                <mat-select  formControlName="Gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>

                </mat-select>
                
              </mat-form-field> 
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill" style="width:100%; margin-top: 60px;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="eample-full width" appearance="fill" style="width: 100%; margin-top: 60px;">
                <mat-label>Address1</mat-label>
                <input matInput type="text" formControlName="Address1">
                <mat-error> Address  is required</mat-error>  
                
                </mat-form-field> 
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="fill" style="width:100%; margin-top: 60px;">
                <mat-label>Pincode</mat-label>
                <input matInput type="text" formControlName="Pincode">
                <mat-error
                  *ngIf=" personForm.get('Pincode')!.errors!==null &&   personForm.get('Pincode')!.errors!['minlength']">
                  Pincode must be greater than 1.
                </mat-error>
                <mat-error
                  *ngIf="personForm.get('Pincode')!.errors!==null &&   personForm.get('Pincode')!.errors!['maxlength']">
                  Pincode must be less than 6.
                </mat-error>
                <mat-error
                  *ngIf="personForm.get('Pincode')!.errors!==null &&   personForm.get('Pincode')!.errors!['required']">
                  Pincode is required
                </mat-error>       
    </mat-form-field>
        </div>
    </div>
</form>
</div>

<div class="text-center mx-2 my-4">
    <button mat-raised-button color="primary" (click)="Submit()">Submit</button>
</div>
